{deps,[
	{'cluster_supervisor', ".*", 
		{git, "https://github.com/skruger/ClusterSupervisor.git", master}
	},
	{mochiweb, ".*", 
		{git, "https://github.com/mochi/mochiweb.git", {tag,"v2.2.1"}}
	}
	]}.

{erl_opts, [ 
			{i,"include"},
			{i,"src/mysql/src"},
			{src_dirs,["src/mysql/src","src"]}]}.
