[
 {cluster_supervisor,[
%	{ifconfig_script,"sudo /sbin/ifconfig"},
%	{ip_script,"sudo /sbin/ip"},
%	{listen_interface,"eth1"},
	{quorum,1}
 	]},
 {sasl,[
	{sasl_error_logger,{file,"/var/log/surrogate/erlang-sasl.log"}}
	]},
 {kernel,[{error_logger,{file,"/var/log/surrogate/erlang-kernel.log"}}
	]}
].
