[
 {surrogate, [
        {log_level, 4},
        {listeners,[
            {listen_plain,{ip,"127.0.0.1"},8213,[
				{protocol,http},
%				{http_connect,terminate}, %% Other options are none to disable connect or pass to pass connect on to next proxy
				{http_connect,spoof}, %% Terminate SSL and spoof certificate.
				%{num_listeners,3},
				%inet6,
				enable_gzip,	
				%{worker_pool,testing},	
				%%{stream_filters,[]},
				{stream_filters,[mod_forward_proxy]},
				{filter_headers,[
						{via,false},
						{add,{"X-modified-by","Surrogate"}}
						]}
				]}
			]}
     ]}, % end surrogate
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

